
 <style type="text/css">
 body, td { color:#000000; font-size:14px; font-family:Verdana,Helvetica,Arial; }
 .divider { background-color:#555555; height:2px; }
 #footer { font-size:11px; color:#555555; }
 #footer a { color:#555555;}
 </style>

<p style="margin:20px; border-style: outset; border: 1px solid teal;">
    <div class="ui center aligned basic padded red segment">
      <h2 style="color: grey; font-size: 24px; text-align: center;">
        Activate your account
      </h2>
    </div>
</p>        
