<!DOCTYPE html>
<html>
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
 <title>Email de Verificacion</title>
 <style type="text/css">
 body, td { color:#000000; font-size:14px; font-family:Verdana,Helvetica,Arial; }
 .divider { background-color:#555555; height:2px; }
 #footer { font-size:11px; color:#555555; }
 #footer a { color:#555555;}
 </style>
</head>
<body>

<p style="margin:20px; border-style: outset; border: 1px solid teal;">
    <div class="ui center aligned basic padded red segment">
      <h2 style="color: grey; font-size: 24px; text-align: center;">
        Mensaje de la aplicacion Lens Changer
      </h2>
    </div>
    <p>
    <!-- #/activate_user/dany.gaara.ds@gmail.com http://localhost:8100/#/app/login -->
      Your account has been activated succesfully!
      <!-- #<%= ENV["SITE_URL"] %> /activate_user/ <%= @user[:email] %> -->
    </p>
    <div style="padding-left: 10%; padding-right:10%; padding-bottom:20px; text-align:center;">
    
  </div>
</body>
</html>